@model DataLayer.PageGroup

@{
    ViewBag.Title = "Delete";
}



<h3>آیا از حذف  "@Model.GroupeTitle" مطمئن هستید ؟</h3>
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GroupeTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupeTitle)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف گروه" class="btn btn-danger" />

        </div>
    }
</div>
