@model IEnumerable<DataLayer.PageGroup>
<span>گروه های خبری</span>
<ul>
	
    @foreach (var item in Model)
    {
	    <li><a href="/Group/@item.GroupeID/@item.GroupeTitle">@item.GroupeTitle</a></li>
    }

</ul>
